body {
    font-family: Helvetica;
    font-size: 26px;
    color: blue;
}

img {
    width: 400px;
    height: 400px;
}

.reverse {
    background-color: blue !important;
    color: white;
}
p {
    padding: 20px;
}